/*

Stylesheet

 */
 
root { 
    display: block;
}

.apply{
	-fx-max-width: 100px !important;
	-fx-max-height: 20px !important;
	-fx-background-color: blue !important;
}

.root {
     -fx-background-image: url("/resources/blue.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Tahoma, Geneva, sans-serif";
   -fx-text-align: center;
   -fx-fill: #ffffff;
   /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#searchBtn{
	-fx-width:100px !important;
	-fx-background-image: url('/resources/search.png');
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

#searchTextBox{
	-fx-height:100px;
}

#exitBtn{
	-fx-color: black;
}

#card{
	-fx-background-color: #3A5FCD !important;
	-fx-color: black !important;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-padding:27px;
    -fx-background-size: 80px 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.filterHeading {
	-fx-font-weight:bold !important;
}

#titleHeader{
	-fx-background-color:rgba(76, 175, 80, 0.1);
}

.round-blue{
	-fx-background-color: linear-gradient(#000046 , #1CB5E0);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}
